body {
    text-align: center;
}

ul {
    list-style: none;
    background: #3399ff; 
    padding: 10px; 
    margin: auto;
}

li {
    background: #cce5ff; 
    margin: 5px; 
    padding: 50px; 
    padding-left: 100px; 
    padding-right: 100px;
    text-align: center;
}