* {
    text-align: center;
}

.main {
    margin: 0em 20em;
    /* background-color: red; */
}

h1 {
    /* position: relative;
    left: -50px; */
    
}

ul {
    list-style-type: none;
    padding: 0;
}
